<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <div>
        <h1 class="logo mr-auto"><a href="/">Mentor</a></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="/courses" style="font-size: 18px;">Courses</a>
            <ul>
              <li class="drop-down">
                <a href="/courses/web-development">Web Development</a>
                <ul>
                  <li><a href="/courses/web-development/javascript">JavaScript</a></li>
                  <li><a href="/courses/web-development/react">React</a></li>
                  <li><a href="/courses/web-development/angular">Angular</a></li>
                </ul>
              </li>
              <li class="drop-down">
                <a href="/courses/data-science">Data Science</a>
                <ul>
                  <li><a href="/courses/data-science/machine-learning">Machine Learning</a></li>
                  <li><a href="/courses/data-science/deep-learning">Deep Learning</a></li>
                  <li><a href="/courses/data-science/data-analysis">Data Analysis</a></li>
                </ul>
              </li>
              <li class="drop-down">
                <a href="/courses/mobile-apps">Mobile Apps</a>
                <ul>
                  <li><a href="/courses/mobile-apps/android-development">Android Development</a></li>
                  <li><a href="/courses/mobile-apps/ios-development">IOS Development</a></li>
                </ul>
              </li>
              <li><a href="/courses/game-development">Game Development</a></li>
              <li><a href="/courses/progamming-languages">Progamming Languages</a></li>
              <li><a href="/courses/databases">Databases</a></li>
            </ul>
          </li>
          <form action="/courses" class="form-inline my-2 my-lg-0" style="margin-left: 15px;">
            <input name="searchName" class="form-control mr-sm-2" type="search" placeholder="Search courses" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <li style="margin-left: 140px;"><a href="/users/mycourses">My Courses</a></li>
          <li style="margin-left: 10px;">
            <div>
              <a href="/cart"><i class="fas fa-cart-plus" style="font-size: 25px;"></i></a>
            </div>
          </li>
          <li class="drop-down" style="margin-left: 10px;">
            <a href="#"><i class="fas fa-user" style="font-size: 25px;"></i></a>
            <ul>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Favorite Courses</a></li>
              <li><a href="#">My Courses</a></li>
              <li><a href="/cart">Cart</a></li>
              <hr>
              <li><a href="/users/login">Log in</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>