<main id="main" data-aos="fade-in">
    <div class="container-fluid">
            <div class="row">
                <div class="cart_title" style="margin-top: 80px;;">
                    <i class="fas fa-home" style="display: inline-block;"></i>
                    <p style="display: inline-block; font-size: 80%;"> / Disboard</p>
                    <h5>Admin</h5>
                </div>
            </div>
    </div>
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</main>
